/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #343434; color: #C8C8C8 }

section {
  border: 2px solid #C8C8C8;
  border-radius: 25px;
  padding: 1em;
  box-sizing: border-box;
}

mat-card {
  background-color: #4C4C4C !important;
  color: #C8C8C8 !important;
}

mat-bottom-sheet-container {
  background-color: #4C4C4C !important;
  color: #C8C8C8 !important;
}
